*{
    color: #fff;
    background-color: #1e1e1e;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-size: 40px;
    padding: 0;
    margin: 0;

}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.menu-char{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5vh 5vw;
    background-color: #1356;
    border-radius: 5px;
}
a.menu-char:hover, a.menu:hover{
    transition: background-color 0.3s ease;
    background-color: #1356cc;
}


div.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.menu {
    width: 100%;
    height: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
}

a.menu {
    font-size: .6em;
    color: #fff;
    text-decoration: none;
    padding: 2vh 2vw;
    background-color: #1356;
    border-radius: 5px;
}

h1{
    text-align: center;
    margin: 03vh 0;
}

h1 a {
    
}

ul{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

li{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    height: 3vh;
    margin: 70px 0px;
}

